/* Cache scroll bar + dimension wrapping */
html {
  height:100%;
  width:100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

/* Dimension du main site */
body {
    font-family: Georgia;
    margin: 0;
    min-height: 100hv;
    height:100%;
    width:100%;
  }
  header {
    width:100%;
    text-align: center;
    font-size: 18px;
    background: black;
    color: white;
    height: 50px;
  }  
  #content {
    display:flex;
    flex-direction:column;
    min-height: 90%;
  }
  aside {
    width:7%;
    align-self:flex-start;
    margin-left: 10%;
    padding-top: 50px;
    position : sticky;
    top: 0px;
  }
  main {
    width:60%;
    max-width: 1000px;
    align-self: center;
    margin-top: -13%;
    height:100%;
  }
  footer {
    width: 45%;
    flex-grow:1;
    align-self: center;
    text-align: center;
    height: 100%;
  }
  @media (min-width:800px)  { 
    main {
     width: 45%;
    }
   }
/* Style des caractères */
/* Titre */
h1 {
  font-weight: bold;
  font-size: 42px;
}
/* Sous-titre */
h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
/* Citation décalée vers la gauche */
h3 {
  font-style: italic;
  font-weight: lighter;
  font-size: 26px;
  line-height: 34px;
  margin-left: -8%;
  margin-right: 8%;
}
/* Note décalée vers la droite */
.annote {
  display: flex;
  flex-direction: row;
  align-items: top; 
  gap: 5px;
  margin-right: -30%;
 }
.note {
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px;
  width: 150%;
}
/* Légende image */
h5 {
  font-style: italic;
  font-weight: lighter;
  font-size : 16px
}
/* Paragraphes*/
p {
  font-size: 22px;
  line-height: 33px;
  text-indent: 2rem;
}
/* Hyperliens */
.lien {
  color: grey;
  text-decoration: none;
  font-style: italic;              
}
.lien:hover {
  color: white;
  background:black;
}
/* Archive/Biblio */
#myTable td:nth-child(2) {
  font-size: 20px;
}#myTable tr {
  border-spacing: 50px;
  font-size: 16px;
}
.sort {
  color: grey;
  text-decoration: none;
  font-style: italic;              
}
.sort:hover {
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
/* Form Newsletter */
button {
  font-family: Georgia;
  font-style: italic;
  color: grey;
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: 16px;
}
button:hover {
  color:white;
  background:black;
  cursor: pointer;
}
input {
  background-color: transparent;
  color:black;
  border:none;
}
input::placeholder {
  color:lightgray;
  font-family: Georgia;
  font-size: 16px;
  padding: 0px;
  text-align: left;
}

/* Images d'illustration articles */
.illustration {
   /*élargi la zone*/
   margin-left: 0;
   margin-right: 0;
   display: flex;
   flex-direction: column;
}
@media (min-width:800px)  { 
  .illustration {
   margin-left: -25%;
   margin-right: -25%;
   flex-direction: row;
  }
 }
 .boite {
  /*encadre et centre le bloc image+légende*/
  flex-grow: 1;
 }
 .image img{
	flex-grow: 0;
	flex-shrink: 1;
  max-height: 70vh;
 }
 .legende {
  flex-basis: 15vw;
	flex-grow: 0;
	flex-shrink: 0;
  margin-left: 15px;
  margin-bottom: 15px;
  align-self: end;
 }
/* Sécurité images */
 img {
  max-width: 100%;
  max-height:100%;
}