
/* Répartition des parties du site : 5 colonnes égales avec le logo sur celle de gauche et le menu sur celle de droite */
html {
  height:100%;
  width:100%;
}
body {
    font-family: Georgia;
    margin: 0;
    min-height: 100hv;
    height:100%;
    width:100%;
  }
  header {
    width:100%;
    text-align: center;
    font-size: 15px;
    background: black;
    color: white;
    height: 50px;
  }  
  #content {
    display:flex;
    flex-direction:column;
    min-height: 90%;
  }
  aside {
    width:7%;
    align-self:flex-start;
    margin-left: 10%;
    padding-top: 50px;
    position : sticky;
    top: 0px;
  }
  main {
    width:45%;
    max-width: 1000px;
    align-self: center;
    margin-top: -13%;
    height:100%;
  }
  footer {
    width: 45%;
    flex-grow:1;
    align-self: center;
    text-align: center;
    height: 100%;
  }

/* Style des caractères */
/* Titre */
h1 {
  font-weight: bold;
  font-size: 42px;
}
/* Sous-titre */
h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
/* Citation décalée vers la gauche */
h3 {
  font-style: italic;
  font-weight: lighter;
  font-size: 26px;
  line-height: 34px;
  margin-left: -8%;
  margin-right: 8%;
}
/* Note décalée vers la droite */
.annote {
  display: flex;
  flex-direction: row;
  align-items: top; 
  gap: 5px;
  margin-right: -30%;
 }
.note {
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px;
  width: 150%;
}
/* Légende image */
h5 {
  font-style: italic;
  font-weight: lighter;
  font-size : 16px
}
/* Paragraphes*/
p {
  font-size: 22px;
  line-height: 33px;
  text-indent: 2rem;
}
/* Hyperliens */
.lien {
  color: grey;
  text-decoration: none;
  font-style: italic;              
}
.lien:hover {
  color: white;
  background:black;
}
/* Archive/Biblio */
#myTable td:nth-child(2) {
  font-size: 20px;
}#myTable tr {
  border-spacing: 50px;
  font-size: 16px;
}
.sort {
  color: grey;
  text-decoration: none;
  font-style: italic;              
}
.sort:hover {
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
/* Form Newsletter */
button {
  font-family: Georgia;
  font-style: italic;
  color: grey;
  border: none;
  background-color: transparent;
  padding: 0px;
  font-size: 16px;
}
button:hover {
  color:white;
  background:black;
  cursor: pointer;
}
input {
  background-color: transparent;
  color:black;
  border:none;
}
input::placeholder {
  color:lightgray;
  font-family: Georgia;
  font-size: 16px;
  padding: 0px;
  text-align: left;
}

/* Images d'illustration articles */
.illustration {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-left: -25%;
  margin-right: -25%;
 }
 .boite {
  background:blue;
  flex-grow: 1;
 }
 .image {
  height: 50vh;
  max-width: 100%;
 }
 .legende {
  text-align : left;
  align-self: end;
  width: 15%;
  margin-left: 15px;
 }
/* Sécurité images */
 img {
  max-width: 100%;
  max-height:100%;
}